{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Chercher</h1>
    <form action="{{ url_for('search') }}">
        <div class="form-group">
            <label for="search" class="form-label">Chercher:</label>
            <input type="text" class="form-control" id="search" name="q" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Soumettre</button>
    </form>

    <hr class="my-5">

    <h1 class="mb-4">5 derniers publications</h1>
    <div class="card-deck">
        {% for publication in publications %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ publication[1] }}</h5>
                    <p class="card-text">{{ publication[5] }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ publication[4] }} - {{ publication[3] }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
