{% extends "base.html" %}

{% block content %}
    <h1>Last 5 publications</h1>
    <ul>
        {% for publication in publications %}
            <li>
                <h3>{{ publication[1] }}</h3>
                <p>{{ publication[4] }} - {{ publication[3] }}</p>
                <p>{{ publication[5] }}</p>
            </li>
        {% endfor %}
    </ul>

    <h1>Search</h1>
    <form action="{{ url_for('search') }}">
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" class="form-control" id="search" name="q" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
